### add the element
append # Add an element to the end of the list
extend # Add all elements of a list to the another list
insert # add the element given postion

In [6]:
List = [2,3,6,5,4,9]
x = [10,22]
List.append(x)#list_name.append(second_list_name)
print(List )

[2, 3, 6, 5, 4, 9, [10, 22]]

In [7]:
List.extend(x)#list_name.extend(second_list_name)
print(List )

[2, 3, 6, 5, 4, 9, [10, 22], 10, 22]

In [13]:
List.insert(5, 10) #list_name.insert(index, element)
print(List)

[2, 3, 6, 5, 10, 10, 4, 9, [10, 22], 10, 22, 19, '19', 19]

### Remove the element
remove # list_name.remove(obj) 
pop  # list_name.pop(index)

In [14]:
List.remove(x)# list_name.remove(obj) 
print(List )

[2, 3, 6, 5, 10, 10, 4, 9, 10, 22, 19, '19', 19]

In [16]:
List.pop(2)# list_name.pop(index)
print(List )

[2, 3, 5, 10, 4, 9, 10, 22, 19, '19', 19]

### List Slicing
Sytnx:Lst[ Initial : End : IndexJump ]

In [17]:
print(List[-7::1])

[4, 9, 10, 22, 19, '19', 19]

In [ ]:
### Reverse the element of the list
Method 1: Using the reversed() built-in function.
Method 2: Using the reverse() built-in function.
Method 3: Using the slicing technique.

In [18]:
# Reversing a list using reversed()
def Reverse(lst):
    return [ele for ele in reversed(lst)]
      
# Driver Code
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [19]:
# Reversing a list using reverse()
def Reverse(lst):
    lst.reverse()
    return lst
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [20]:
# Reversing a list using slicing technique
def Reverse(lst):
    new_lst = lst[::-1]
    return new_lst
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

### return the length, max, min,count of list 
len() #print(len(object))
max() #print(max(value))
min() #print(min(value))
count()#list_name.count(object)

In [22]:
print(len(List))

11

In [24]:
print (max( 4,12,43.3,19,100 ) )

100

In [25]:
print (min( 4,12,43.3,19,100 ) )

4

In [26]:
List.count(10)

2

### merge the two list
concatenate
Method #1 : Using Naive Method
Method #2 : Using + operator

In [29]:
# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
  
# using naive method to concat
for i in test_list2 :
    test_list1.append(i)
print (str(test_list1))
# using + operator to concat
test_list3 = test_list1 + test_list2
print (str(test_list3))

[1, 4, 5, 6, 5, 3, 5, 7, 2, 5]
[1, 4, 5, 6, 5, 3, 5, 7, 2, 5, 3, 5, 7, 2, 5]

### Multiply two list
Method #1 : Naive Method
Method #2 : Using List Comprehension

In [32]:
test_list1 = [1, 3, 4, 6, 8]
test_list2 = [4, 5, 6, 2, 10]

res_list = []
for i in range(0, len(test_list1)):
    res_list.append(test_list1[i] * test_list2[i])
print(str(res_list))

[4, 15, 24, 12, 80]

In [33]:
# Multiplying two lists
res_list = [test_list1[i] * test_list2[i] for i in range(len(test_list1))]

In [34]:
print(str(res_list))

[4, 15, 24, 12, 80]

### ascending order
sort #List_name.sort()

In [36]:
List=[10,2,8,5,6,1,-2]
List.sort()

In [37]:
print(List)

[-2, 1, 2, 5, 6, 8, 10]

### clear a list 
clear()# lisrname.clear()

In [38]:
G = [6, 0, 4, 1]
print(G)

[6, 0, 4, 1]

In [40]:
G.clear()
print(G)

[]