### Square Pattern

In [1]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print(n,end= '')
        j = j+1
    print()
    i = i +1

 4

4444
4444
4444
4444

### Triangular Star Pattern

In [2]:
n = int (input())
i = 1 
while i <=n :
    j = 1
    while j<= i:
        print("*", end = "")
        j = j+1
    print()
    i = i+1

 4

*
**
***
****

### Triangle Number Pattern

In [3]:
n = int (input())
i = 1
while i <= n:
    j = 1
    p = i
    while j <=i:
        print(i, end= "")
        j = j+1
    print()
    i = i +1

 5

1
22
333
4444
55555

### Reverse Number Pattern

In [4]:
n = int (input())
i = 1
while i <= n:
    j = 1
    p = i
    while j <=i:
        print(p, end= "")
        p = p -1
        j = j+1
    print()
    i = i +1

 5

1
21
321
4321
54321

### Character Pattern

In [5]:
n = int (input())
i = 1
while i <=n:
    j=1
    char = ord('A') + i- 1
    while j<=i:
        charP= chr(char +j-1)
        print(charP, end = "")
        j+=1
    i= i+1
    print()

 4

A
BC
CDE
DEFG

### Interesting Alphabets

In [6]:
n = int (input())
i = 1
while i <=n:
    j=1
    char = ord('A') + n- i
    while j<=i:
        print((chr(char +j-1)), end = "")
        j+=1  
    i= i+1
    print()

 4

D
CD
BCD
ABCD

### pattern 1
1
11
111
1111

In [7]:
n = int(input())
i = 1
while i<=n:
    j =1 
    while j<=i:
        print(1, end="")
        j = j+1
    print()
    i = i+1

 4

1
11
111
1111

### Pattern 2
1
11
202
3003

In [8]:
n = int(input())
print(1)
i = 1
while (i < n):
    j=0
    while (j< i+1):
        if (j ==0 or j ==i):
        	print(i, end="")
        else:
        	print(0,end='')
        j = j+1
    print()
    i = i+1

 5

1
11
202
3003
40004

### pattern 3
1
11
121
1221

In [9]:
n = int(input())
i = 0
while (i<n):
    j=0
    while (j< i+1):
        if (j ==0 or j ==i):
        	print(1, end="")
        else:
        	print(2,end='')
        j = j+1
    print()
    i = i+1

 4

1
11
121
1221

### Pattern 4
1234
123
12
1

In [10]:
n = int (input())
i = 0
while i < n:
    j = 1
    while j< (n-i)+1:
        print(j, end="")
        j= j+1
    i=i+1
    print()

 4

1234
123
12
1

### Alpha Pattern
 A
 BB
 CCC

In [11]:
n= int (input())
i = 1
while i <= n:
    j= 1
    ch = ord('A')+ i-1
    while j<=i :
        c = chr(ch)
        print(c, end="")
        j+=1
    i+=1
    ch+=1
    print()

 5

A
BB
CCC
DDDD
EEEEE

### Inverted Number Pattern
4444
333
22
1

In [12]:
n = int(input())
row =1
while row<=n:
    col=1
    while col<=n-row+1:
        print(n-row+1,end="")
        col+=1
    row+=1
    print()

 4

4444
333
22
1

### Mirror Number Pattern
   1
  22
 123
1234

In [13]:
n = int(input())
row= 1
while row<=n:
    spaces = 1
    while spaces<=n-row:
        print(" ",end="")
        spaces+=1
    col = 1
    while col<=row:
        print(col,end="")
        col+=1
    row+=1
    print()

 6

     1
    12
   123
  1234
 12345
123456

### Star Pattern 
   *
  ***
 *****
*******

In [14]:
n = int (input())
i =1
while i <=n:
    spaces = 1
    while spaces <=(n-i):
        print (" ", end = "")
        spaces +=1
    j = 1
    while j<=((2*i)-1):
        print('*', end="")
        j+=1
    print()
    i+=1

 4

   *
  ***
 *****
*******

### Triangle of Numbers
   1
  232
 34543
4567654

In [15]:
n=int(input())
i=1
while i<=n:
    s=1
    while s<=n-i:
        print(" ", end='')
        s=s+1
    j=1
    p=i
    while j<=i:
        print(p, end="")
        j+=1
        p+=1
    j=i-1
    q=(2*i)-2
    while j>=1:
        print(q, end="")
        j-=1
        q-=1
    print()
    i+=1

 4

   1
  232
 34543
4567654

### Diamond of stars 
  *
 ***
*****
 ***
  *

In [16]:
n=int(input())
n1=(n+1)/2
n2=n-n1
i=1
while i<=n1:#corrected
    s=1
    while s<=n1-i:
        print(" ",end="")
        s=s+1
    j=1
    while j<=2*i-1:
        print("*",end="")
        j+=1
    print()
    i=i+1
i=n2
while i>=1:#corrected
    s=1
    while s<=n2-i+1:#corrected
        print(" ",end="")
        s=s+1
    j=1
    while j<=2*i-1:
        print("*",end="")
        j+=1
    print()
    i = i-1

 5

  *
 ***
*****
 ***
  *

### Number Pattern 
1        1
12      21
123    321
1234  4321
1234554321

In [17]:
num = int(input())
row =1
t_space=2*num-2
while row<=num:
    col=1
    while col<=row:
        print(col, end="")
        col+=1
    s=1  
    while s<=t_space:
        print(" ",end="")
        s+=1
    t_space -=2
    col = row
    while col>0:
        print(col, end="")
        col-=1
    row+=1
    print()

 5

1        1
12      21
123    321
1234  4321
1234554321

### Zeros and Stars Pattern
*000*000*
0*00*00*0
00*0*0*00
000***000

#### Pyramid Number Pattern 
   1
  212
 32123
4321234

In [1]:
n=int(input())
i=1
while i<=n:
    s=n-i
    while s>0:
        print(" ", end='')
        s=s-1
    p=i
    while p>0:
        print(p, end="")
        p = p-1
    p = p+2
    while p<=i:
        print(p, end="")
        p+=1
    print()
    i+=1

 5

    1
   212
  32123
 4321234
543212345

### Arrow pattern 
*
 * *
  * * *
   * * * *
  * * *
 * *
*

In [2]:
num= int(input())
n1=(num+1)/2
n2=num/2
i= 1
#first Half
while i<=n1:
    s=1
    while s<=i-1:
        print(' ',end="")
        s+=1
    j=1
    while j<=i:
        print('*',end=" ")
        j+=1
    i+=1
    print()
# second Half
i=1
while i<=n2:
    s=1
    while s<=n2-i:
        print(' ',end="")
        s+=1
    j=1
    while j<=(n2-i+1):
        print('*',end=" ")
        j+=1
    i+=1
    print()

 9

*
 * *
  * * *
   * * * *
    * * * * *
   * * * *
  * * *
 * *
*